env/*
.idea/*
hagenland/*
southern-range-230110-e86cb31f6665.json
.vscode/*
choreograph/*
Untitled/*
pynaoqi/*
robot-jumpstarter/*
credentials.json
Macerata*
Pepperrun.txt
google_form/*
naoqi
pepperland/*
